
/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
  margin: 0;
  padding: 0;
}
/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 121; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 31%, 44%);
    --first-color-second: hsl(var(--hue-color), 35%, 60%);
    --first-color-lighter: hsl(var(--hue-color), 55%, 74%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(0, 0%, 20%);
    --text-color-light: hsl(0, 0%, 47%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: 'Inconsolata', monospace;



    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

.h-100vh{
  height: 100vh;
  overflow: hidden;
}

body{
  background-color: var(--body-color);
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
}
.bg1-color{
  background-color: var(--first-color-lighter);
}


.sec-login-right{
  width: 55vw;
  height: 100vh;
  position: absolute;
  right: 0;
  border-radius: 2rem 0 0 2rem;
  overflow: hidden;
}

.component-bg{
  z-index: -2;
}

.sec-login-right .img-main,
.sec-login-right .img-sub{
  position: absolute;
}

.sec-login-right .img-sub img{
  width: 100%;
  height:100%;
  max-width: 300px;
  max-height: 300px;
}

/* .sec-login-right .img-main img{
  width: 600px;
  height: 600px;
} */

.sec-login-right .img-sub:nth-child(1){
  left: -150px;
  top: 50%;
  transform: translateY(-50%);
}
.sec-login-right .img-sub:nth-child(2) img{
  width: 100%;
  height:100%;
  max-width: 350px;
  max-height: 350px;
}

.sec-login-right .img-sub:nth-child(2){
  right: -175px;
  top: -50px;
}

.sec-login-right .img-main img{
  max-width: 1200px;
  max-height: 1200px;

}

.sec-login-right .img-main{
  top: 239px;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-height: 800px){
  .sec-login-right .img-main img{
    max-width: 500px;
    max-height: 500px;
  
  }
  .sec-login-right .img-main{
    top: unset;
    bottom: -20px;

  }
}

/* title */

.main-title{
  font-size: var(--h1-font-size);
  font-weight: 800;
  color: var(--title-color);
}

.sub-title{
  font-size: var(--h3-font-size);
  font-weight: lighter;
  color: var(--text-color-light);
}

.component-title{
  width: 100%;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);  
  z-index: 1;
}


/* form loggin */
.sec-login-left {
  width: 45vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
}

.brand{
  display: inline-block;
  padding: var(--mb-2);
}

.brand .brand-item{
  font-family: var(--body-font) ;
  font-size: var(--h2-font-size);
  font-weight: 900;
}

.middle{
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.main-form{
  width: 100%;
}

.form-control {
  width: 100%;
  display: flex;
  flex-direction: column
}

.form-input{
  height: var(--mb-2);
  border: solid 2px var(--first-color-second);
  border-radius: var(--mb-1);
  background: var(--input-color);
  padding: var(--mb-0-5);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  margin-bottom: var(--mb-1);
  display: inline;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);;
}

.form-input:focus,.form-input:valid{
  outline: 0;
  border: 2px solid var(--first-color-lighter);
}

.form-input:focus ~ .form-label, .form-input:valid ~ .form-label{
  transform: translateY(-50%) scale(.9);
  background-color: var(--body-color);
  padding: 0 .2em;
  color: var(--text-color);
}

.form-label{
  position: absolute;
  left: 15px;
  color: var(--text-color-light);
  pointer-events: none;
  transform: translateY(1rem);
  transition: 300ms cubic-bezier(0.4,0,0.2,1);
}

.form-group{
  margin: var(--mb-0-5) 0;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: var(--smaller-font-size);
  padding: 0.5rem 0;
}

.form-group .form-control{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
  gap: 10px;
}

.form-group .form-control .form-label{
  position: unset;
  transform: translate(0);
}

.link-a {
  text-decoration: none;
  color: var(--text-color-light);
  transition: 300ms cubic-bezier(0.4,0,0.2,1);
}

.link-a:hover{
  color: var(--first-color);
  text-decoration: underline;
}

.primary-button{
  width: 100%;
  cursor: pointer;
  padding: var(--mb-0-5);
  height: 50px;
  font-size: var(--normal-font-size);
  border:none;
  border-radius: var(--mb-1);
  background-color: var(--first-color-second);
  transition: 300ms cubic-bezier(0.4,0,0.2,1);

}

.primary-button:hover{
  background-color: var(--first-color-lighter);
}


.google-button{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--text-color-light);
  border-radius: var(--mb-1);
  background-color: var(--container-color);
  font-weight: 500;
  font-size: var(--normal-font-size);
  cursor: pointer;
}

.google-icon{
  width: 25px;
  height: 25px;
}

.google-icon::before{
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/asset/png/google-icon.png");
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
}

.link-question{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--small-font-size);
}

.title-login{
  position: relative;  
  text-align: center;
  font-size: var(--h2-font-size);
  font-weight: 700;
  margin-bottom: 3rem;
  overflow: hidden;
}

